body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom right, #f9f9f9, #e1f5fe);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
button {
  padding: 10px 20px;
  background-color: #af75b5;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dictionary-container {
  background: white;
  padding: 35px 30px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
  color: #2c3e50;
}

.tagline {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  width: 85%;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}
button:hover {
  background-color: #e8ee92;
}

.result-box {
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.6;
  color: #34495e;
}
